# Prerequisites
*.d

# Compiled Object files
Intermediate/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
**/ipch/
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
Output/
*.exe
*.out
*.app

# Other
*.cache
*.ncb
*.sdf
*.suo
*.vcproj.*.user
*.vcxproj.filters
*.vcxproj.user
